<!DOCTYPE HTML>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <script type="text/javascript" src="vendor/js/pako.min.js"></script>
  <script type="text/javascript" src="vendor/js/vue.js"></script>
  <script type="text/javascript" src="recipes.js"></script>
  <link rel="stylesheet" type="text/css" href="reader.css">
  <link rel="stylesheet" type="text/css" href="writer.css">
  <title>Éditeur de recettes de cuisine</title>

<script type="text/javascript">//<![CDATA[
window.onload=function(){

var FOCUSOUT_DELAY = 5000;

function findHovergroup(initialElement){
  var hovergroup = initialElement;
  while(!hovergroup.classList.contains('hovergroup')){
    hovergroup = hovergroup.parentNode;
  }
  return hovergroup;
}

function setFocusOn(hovergroup) {
  var elems = document.getElementsByClassName('-focus');
  var hasFocus = false;
  for (var i = elems.length - 1; i >= 0; i--) {
    if(elems[i] == hovergroup){
      hasFocus = true;
    } else {
      elems[i].classList.remove('-focus');
    }
  }
  if(!hasFocus){
    hovergroup.classList.add('-focus');
  }
}

// Set the user focus on a field for next Tick
function userFocus(classname){
  Vue.nextTick(function(){
    var input = document.querySelector(classname);
    if(input){
      input.focus();
    }
  });
}

Vue.config.devtools = true;
Vue.component('recipe-duration', {
  template: '#recipe-duration-template',
  props: {
    model: Object
  },
  methods: {
    focusout: function(e){
      var hg = this.hovergroup;
      hg.dataset.timer = setTimeout(function(){
        hg.classList.remove('-focus');
      }, FOCUSOUT_DELAY);
    },
    focusin: function(e){
      if(!this.hovergroup){
        this.hovergroup = findHovergroup(e.target);
      }
      if(this.hovergroup.dataset.timer){
        clearTimeout(this.hovergroup.dataset.timer);
      }
      setFocusOn(this.hovergroup);
    }
  }
 });
Vue.component('recipe-ingredient', {
  template: '#recipe-ingredient-template',
  props: {
    model: Object,
    parent: Object
 },
  computed: {
    hasSimpleQuantity: function () {
      return !(typeof this.model.quantity === 'object')
    },
  },
  methods: {
    remove: function (event){
      this.parent.ingredients.$remove(this.model);
    }
  },
});
Vue.component('recipe-quantity', {
  template: '#recipe-quantity-template',
  props: {
    model: Object
  },
  methods: {
    focusout: function(e){
      var hg = this.hovergroup;
      hg.dataset.timer = setTimeout(function(){
        hg.classList.remove('-focus');
      }, FOCUSOUT_DELAY);
    },
    focusin: function(e){
      if(!this.hovergroup){
        this.hovergroup = findHovergroup(e.target);
      }
      if(this.hovergroup.dataset.timer){
        clearTimeout(this.hovergroup.dataset.timer);
      }
      setFocusOn(this.hovergroup);

      // Focus on actual input
      if(e.target.tagName == 'SPAN'){
        e.target.previousSibling.firstChild.focus();
      }
    }
  }
});
 
 
 
Vue.component('recipe-step', {
  template: '#recipe-step-template',
  props: {
    model: Object,
    parent:{
      type: Object,
      default: null
    }
  },
  computed: {
    allContainers:  function () {
      var containers = [this.model];
      var current_container = this.model.container;
      while(typeof current_container === 'object'){
        containers.unshift(current_container);
        current_container = current_container.container;
      }
      return containers;
    },
  },
  methods:{
    hasDescription: function(container){
      return (typeof container.description == 'string');
    },
    rawIngredients: function (container) {
      return container.ingredients.filter(function(item){
        return item.hasOwnProperty('of');
      });
    },
    previousIngredients: function (container) {
      return container.ingredients.filter(function(item){
        return !item.hasOwnProperty('of');
      });
    },
    isLastStep: function(container){
      return container == this.model;
    },
    isRemovable: function (container){
      // Raw container: no.
      if(!this.hasDescription(container)){
        return false;
      }

      // Somewhere in the chain
      if(!this.isLastStep(container)){
        return container.ingredients.length == 0;
      }
      // Last in the chain

      // Not root
      if(this.parent){
        return container.ingredients.length == 0 || !this.hasDescription(container.container);
      }

      // No ingredients
      if(container.ingredients.length == 0){
        return this.hasDescription(container.container);
      }

      // One ingredient: a step
      return this.rawIngredients(container).length == 0 && container.ingredients.length == 1;
    },
    remove: function (container){
      if(!this.isRemovable(container)){
        alert('Not allowed!');
        return;
      }
      // Somewhere in the chain
      if(!this.isLastStep(container)){
        // find the parentContainer
        var parent = this.model;
        while(parent.container != container){
          parent = parent.container;
        }
        parent.container = container.container;
        return;
      }
      // Last in the chain

      // Not root
      if(this.parent){
        if(!this.hasDescription(container.container)){
          // Transfer ingredients
          var ingredients = container.ingredients;
          Array.prototype.push.apply(this.parent.ingredients, ingredients);
          this.parent.ingredients.$remove(container);
        } else if(container.ingredients.length == 0){
          // Transfer container
          this.model = container.container;
        }
        return;
      }

      // No ingredients
      if(container.ingredients.length == 0){
        if(this.hasDescription(container.container)){
          this.model = container.container;
        }
        return;
      }

      // One step-ingredient
      this.model = container.ingredients[0];
    },
    // Adders
    addStepAfter: function(container){
      if(typeof container =='object'){
        var clone = JSON.parse(JSON.stringify(container));
        container.ingredients = [];
        container.duration = {};
        container.description = "";
        container.container = clone;
      } else {
        // find the parentContainer
        var parent = this.model;
        while(typeof parent.container == 'object'){
          parent = parent.container;
        }
        parent.container = {
          'ingredients': [],
          'duration': {},
          'description': "",
          'container': container,
        };
      }
      userFocus('.description span[contenteditable="true"]:empty');
    },
    addStepBelow: function(container){
      var clone = JSON.parse(JSON.stringify(container));
      container.duration = {};
      container.description = "";
      container.container = "";
      container.ingredients = [clone];
      userFocus('.container.-raw span[contenteditable="true"]:empty');
    },
    addIngredient: function(container, raw){
      if(raw){
        container.ingredients.push({
          "quantity": {},
          "of": "",
          "select": "",
        });
        userFocus('h3 span[contenteditable="true"]:empty');
      } else {
        container.ingredients.push({
          ingredients: [],
          duration: {},
          description: "",
          container: "",
        });
        userFocus('.container.-raw span[contenteditable="true"]:empty');
      }
    }
  },
 });

function loadFromHash(){
  var recipe = false;
  if(location.hash.substr(1) == "empty"){
    recipe = recipeStore.empty();
  } else {
    recipe = hashConvertor.toJSON(location.hash.substr(1));
  }
  if(recipe === false){
    if(location.hash.substr(1)){
      alert('Erreur lors du chargement de la recette : chargement d\'une recette aléatoire');
    }
    recipe = recipeStore.random();
    //location.hash = '#' + hashConvertor.fromJSON(recipe);
  }
  document.title = recipe.name + " - Édition - Recette de cuisine";
  expandRecipe(recipe);
  return recipe;
}
  
Vue.component('recipe-root', {
  template: '#recipe-template',
  props: {
    model: {
      type: Object,
      default: loadFromHash,
    },
    hash: String
  },
  computed:{
    list: function(){
      return recipeStore.list;
    },
    reader_url: function() {
      if(this.hash){
        var url = window.location.href;
        url = url.substring(0, url.indexOf('/contenteditable.html'));
        return url + '/reader.html#' + this.hash;
      } else {
        return "";
      }
    }
  },
  watch:{
    model: {
      handler: function (val, oldVal) {
        this.hash = "";
        if(hashTimer){
          clearTimeout(hashTimer);
        }
        hashTimer = window.setTimeout(this.share, 1000);
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    share: function(){
      var recipe_copy = JSON.parse(JSON.stringify(this.model));
      var hash = hashConvertor.fromJSON(reduceRecipe(recipe_copy));

      var oldHashChange = window.onhashchange;

      window.onhashchange = function(){};
      location.hash = '#' + hash;
      document.title = this.model.name + " - Édition - Recette de cuisine";
      // prevent infinite loop
      setTimeout(function(){
        window.onhashchange = oldHashChange;
      }, 100);
      this.hash = hash;
    }
  },
});
var hashTimer = null;
  
Vue.component('edit-text', {
  template: '#edit-text',
  props: {
    field: String
  },
  methods: {
    clean: function(e){
      var raw  = e.target.innerText.replace(/(\r\n|\n|\r)/gm," ");
      this.field = raw;
      return raw;
    },
    update: function(e){
      e.target.innerText = this.clean(e);
      var hg = this.hovergroup;
      hg.dataset.timer = setTimeout(function(){
        hg.classList.remove('-focus');
      }, FOCUSOUT_DELAY);
    },
    prepare: function(e){
      if(!this.field.length){
        // prevent bug when initially empty of repeated strings
        e.target.innerText = "";
      }
      if(!this.hovergroup){
        this.hovergroup = findHovergroup(e.target);
      }
      if(this.hovergroup.dataset.timer){
        clearTimeout(this.hovergroup.dataset.timer);
      }
      setFocusOn(this.hovergroup);
    }
  }
});

// boot up Vue
var vm = new Vue({el: '#recipe'});
t = vm;

window.onhashchange = function(){
  if(confirm('Attention, les modifications actuelles vont être perdues!')){
    var newRecipe = loadFromHash();
    vm.$children[0].model = newRecipe;
  } else {
    vm.$children[0].share();
  }
}

confirmLeave = function() {
  return confirm("Cela va supprimer vos changements!");
}

}//]]> 


function expandRecipe(recipe){
  addDefaultDurations = function (step){
    if(!step.hasOwnProperty('duration') || !step.duration){
      step.duration = {};
    }
  }
  addDefaultQuantity = function (ingredient){
    if(typeof ingredient.quantity !== 'object'){
      ingredient.quantity = {
        'value':ingredient.quantity
      };
    }
  }
  addDefaultIngredients = function (step){
    if(typeof step.ingredients === 'undefined'){
      step.ingredients = [];
    }
  }

  addDefaultDurations(recipe);

  exploreStep = function(step){
    addDefaultDurations(step);
    addDefaultIngredients(step);
    if(typeof step.container === 'object'){
      exploreStep(step.container);
    }
    for(index in step.ingredients){
      if(!step.ingredients[index].hasOwnProperty('of')){
        exploreStep(step.ingredients[index]);
      } else {
        addDefaultQuantity(step.ingredients[index]);
      }
    }
  }
  exploreStep(recipe.recipe);
  return recipe;
}
  
function reduceRecipe(recipe){
  removeDefaultDurations = function (step){
    if(!step.duration.value || step.duration.value == "0"){
      delete step.duration;
    } else if(!step.duration.unit || step.duration.unit.length == 0){
      delete step.duration.unit;
    }
  }

  removeDefaultDurations(recipe);

  exploreStep = function(step){
    removeDefaultDurations(step);
    if(typeof step.container === 'object'){
      exploreStep(step.container);
    }
    if(!step.ingredients.length){
      delete step.ingredients;
    } else {
      for(index in step.ingredients){
        if(!step.ingredients[index].hasOwnProperty('of')){
          exploreStep(step.ingredients[index]);
        } else {
          var ingredient = step.ingredients[index];
          if(!ingredient.quantity.unit || !ingredient.quantity.unit.length){
            ingredient.quantity = ingredient.quantity.value;
          }
        }
      }
    }
  }
  exploreStep(recipe.recipe);
  return recipe;
}

</script>

  
</head>

<body>
<div id="recipe">
  <recipe-root>
  </recipe-root>
</div>

<script type="text/x-template" id="edit-text">
  <span contenteditable="true" @focusout="update" @input="clean" @focusin="prepare" class="editable">{{field}}</span>
</script>

<script type="text/x-template" id="recipe-template">
  <ul>
    <li v-for="(name, hash) of list">
      <a href="./contenteditable.html#{{hash}}">{{name}}</a>
    </li>
    <li>
      [<a href="./contenteditable.html#empty" >Nouvelle recette</a>]
    </li>
    <li>
      [<a href="./contenteditable.html" onclick="return confirmLeave()">Recette aléatoire</a>]
    </li>
  </ul>
  <div>
    <div class="hovergroup header">
      <span class="url -reader" ><span @click="share">Lien de partage</span> :
      <a v-if="reader_url" id="reader_url" href="{{reader_url}}">{{reader_url}}</a>
      <em v-else>Génération en cours...</em>
      </span>
      <h1><edit-text :field.sync="model.name"></edit-text></h1>
      <recipe-duration
        :model="model.duration">
      </recipe-duration>
   </div>
    <recipe-step
      :model.sync="model.recipe"
      class="recipe">
    </recipe-step>
  </div>
</script>
<script type="text/x-template" id="recipe-duration-template">
  <div
    v-bind:class="{ '-empty': !model.value || (model.value.length == 0) || model.value == '0'}"
  >
  ⌛&nbsp;<input
    type="number"
    v-model="model.value"
    placeholder="Durée"
    step="any"
    min="0"
    @focusin="focusin"
    @focusout="focusout"
    ><input
    type="text"
    v-model="model.unit"
    placeholder="Unité"
    list="duration-unit"
    size="5"
    @focusin="focusin"
    @focusout="focusout" >
  </div>
</script>
<datalist id="duration-unit">
  <option value="sec">
  <option value="min">
  <option value="jour">
  <option value="nuit">
</datalist>
<script type="text/x-template" id="recipe-quantity-template">
  <span
    v-bind:class="{ 
    'quantity': true,
    '-editable': true,
    '-empty': !model.value || !model.value.length || model.value == '0'}"
    ><input
      type="number"
      v-model="model.value"
      placeholder="Quantité"
      step="any"
      min="0"
      @focusin="focusin"
      @focusout="focusout"><input
      type="text"
      v-model="model.unit"
      placeholder="Unité"
      list="quantity-unit"
      size="5"
      @focusin="focusin"
      @focusout="focusout">
  </span><span class="quantity" @click="focusin">
    {{model.value}} {{model.unit}}
  </span>
</script>
<datalist id="quantity-unit">
  <option value="g">
  <option value="kg">
  <option value="mL">
  <option value="L">
</datalist>
<script type="text/x-template" id="recipe-ingredient-template">
  <div class="ingredient -raw hovergroup">
    <recipe-quantity :model="model.quantity">
    </recipe-quantity>
    <h3><edit-text :field.sync="model.of"></edit-text></h3>
    <em class="-hideable">
      <edit-text :field.sync="model.select"></edit-text>
    </em>
    <button
      @click="remove"
      class="remove"
      tabindex="-1"
      title="Supprimer cet ingrédient">×</button>
  </div>
</script>
<script type="text/x-template" id="recipe-step-template">
  <div class="step">
    <div class="step-preparations">
      <div class="preparation">
        <!--For the raw-container-->
      </div>
      <div
        v-for="container in allContainers"
        class="preparation">
        <div
          v-if="container.ingredients"
          class="ingredients">
          <recipe-step
            v-for="ingredient in previousIngredients(container)"
            :model="ingredient"
            :parent="container">
          </recipe-step>
          <recipe-ingredient
            v-for="ingredient in rawIngredients(container)"
            :model="ingredient"
            :parent="container"
            >
          </recipe-ingredient>
        </div>
      </div>
    </div>
    <div class="step-actions">
      <div class="action hovergroup -container">
        <span
          class="container -raw">
          <edit-text :field.sync="allContainers[0].container"></edit-text>
        </span>
        <button
          class="add -after"
          @click="addStepAfter(allContainers[0].container)"
          title="Ajouter une étape juste après">+</button>
      </div>
      <div
        v-for="container in allContainers"
        class="action hovergroup">
        <span class="description">
          <em>
            <edit-text :field.sync="container.description"></edit-text>
          </em>
          <recipe-duration
            v-if="container.duration"
            :model="container.duration">
          </recipe-duration>
        </span>
        <template v-if="isRemovable(container)">
          <button
            @click="remove(container)"
            class="remove"
            tabindex="-1"
            title="Supprimer cette étape">×</button>
        </template>
        <button
          class="add -step-ingredient"
          @click="addIngredient(container, false)"
          title="Ajouter une étape">+</button>
        <button
          class="add -raw-ingredient"
          @click="addIngredient(container, true)"
          title="Ajouter un ingrédient">+</button>
        <button
          class="add -after"
          @click="addStepAfter(container)"
          title="Ajouter une étape juste après">+</button>
        <template v-if="isLastStep(container)">
          <button
            class="add -below"
            @click="addStepBelow(container)"
            title="Verser dans un nouveau récipient">+</button>
        </template>
      </div>
    </div>
  </div>
</script>
</body></html>
