<!DOCTYPE HTML>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <script type="text/javascript" src="vendor/js/pako.min.js"></script>
  <script type="text/javascript" src="vendor/js/vue.js"></script>
  <script type="text/javascript" src="recipes.js"></script>
  <script type="text/javascript" src="cookbooks.js"></script>
  <link rel="stylesheet" type="text/css" href="reader.css">
  <title>Afficher une recette de cuisine</title>

  
    




<script type="text/javascript">//<![CDATA[
window.onload=function(){
Vue.config.devtools = true;
Vue.component('recipe-serving', {
  template: '#recipe-serving-template',
  props: {
    model: Object
  },
});
Vue.component('recipe-duration', {
  template: '#recipe-duration-template',
  props: {
    model: Object
  },
});
Vue.component('recipe-ingredient', {
  template: '#recipe-ingredient-template',
  props: {
    model: Object
 },
  computed: {
    hasSimpleQuantity: function () {
      return !(typeof this.model.quantity === 'object')
    },
  },
});
Vue.component('recipe-quantity', {
  template: '#recipe-quantity-template',
  props: {
    model: Object
  },
});
 
 
 
Vue.component('recipe-step', {
  template: '#recipe-step-template',
  props: {
    model: Object
  },
  computed: {
    allContainers:  function () {
      var containers = [this.model];
      var current_container = this.model.container;
      while(typeof current_container === 'object'){
        containers.unshift(current_container);
        current_container = current_container.container;
      }
      containers.unshift(current_container);
      return containers;
    },
  },
  methods:{
    hasDescription: function(container){
      return (typeof container.description == 'string');
    },
    rawIngredients: function (container) {
      return container.ingredients.filter(function(item){
        return item.hasOwnProperty('of');
      });
    },
    previousIngredients: function (container) {
      return container.ingredients.filter(function(item){
        return !item.hasOwnProperty('of');
      });
    },    
  },
 });

function loadFromHash(){
  var recipe = hashConvertor.toJSON(location.hash.substr(1));
  if(recipe === false){
    if(location.hash.substr(1)){
      alert('Erreur lors du chargement de la recette : chargement d\'une recette aléatoire');
    }
    recipe = cookbookManager.get('random');
  }
  document.title = recipe.name + " - Recette de cuisine";
  return recipe;
}
  
Vue.component('recipe-root', {
  template: '#recipe-template',
  props: {
    model: {
      type: Object,
      default: loadFromHash,
    },
  },
  computed:{
    hash: function(){
      return hashConvertor.fromJSON(this.model);
    },
    titles: function(){
      return cookbookManager.titles();
    }
  }
});

// boot up Vue
var vm = new Vue({el: '#recipe'});

window.onhashchange = function(){
  vm.$children[0].model = loadFromHash();
}

}//]]> 

</script>

  
</head>

<body>
<div id="recipe">
  <recipe-root>
  </recipe-root>
</div>


<script type="text/x-template" id="recipe-template">
  <ul>
    <li v-for="title in titles">
      <a href="./reader.html#cookbook-{{title.hash}}">{{title.name}}</a>
    </li>
    <li>
      [<a href="./contenteditable.html#cookbook-empty">Nouvelle recette</a>]
    </li>
    <li>
      [<a href="./reader.html#cookbook-random">Recette aléatoire</a>]
    </li>
  </ul>

  <div>
    <a href="./contenteditable.html#{{hash}}">Éditer la recette</a>
    <h1>{{model.name}}</h1>
    <recipe-serving
        v-if="model.serving"
      :model="model.serving">
     </recipe-serving>
    <recipe-duration
        v-if="model.duration"
      :model="model.duration">
     </recipe-duration>
    <recipe-step
      :model="model.recipe"
      class="recipe">
    </recipe-step>
  </div>
</script>
<script type="text/x-template" id="recipe-serving-template">
  <div>
    ◴&nbsp;{{model.value}}&nbsp;{{model.unit}}
  </div>
</script>
<script type="text/x-template" id="recipe-duration-template">
  <div>
    ⌛&nbsp;{{model.value}}&nbsp;{{model.unit}}
  </div>
</script>
<script type="text/x-template" id="recipe-quantity-template">
  <span class="quantity">
    {{model.value}}&nbsp;{{model.unit}}
  </span>
</script>
<script type="text/x-template" id="recipe-ingredient-template">
    <div class="ingredient -raw">
    <span
      v-if="hasSimpleQuantity"
      class="quantity">
      {{model.quantity}}
    </span>
    <recipe-quantity
      v-else
      :model="model.quantity">
    </recipe-quantity>
    <h3>{{model.of}}</h3>
    <em
      v-if="model.select">
        {{model.select}}
    </em>
  </div>
</script>
<script type="text/x-template" id="recipe-step-template">
  <div class="step">
    <div class="step-preparations">
      <div
        v-for="container in allContainers"
        class="preparation">
        <div
          v-if="container.ingredients"
          class="ingredients">
          <recipe-step
            v-for="ingredient in previousIngredients(container)"
            :model="ingredient">
                    </recipe-step>
          <recipe-ingredient
            v-for="ingredient in rawIngredients(container)"
            :model="ingredient"
            >
          </recipe-ingredient>
        </div>
      </div>
    </div>
    <div class="step-actions">
      <div
        v-for="container in allContainers"
        class="action"
        v-bind:class="{ '-container': !hasDescription(container)}">
        <span
          v-if="hasDescription(container)"
          class="description">
          <em>
          {{container.description}}
          </em>
          <recipe-duration
            v-if="container.duration"
            :model="container.duration">
          </recipe-duration>
        </span>
        <span
          v-else
          class="container -raw">
          {{container}}
        </span>
      </div>
    </div>
  </div>
</script>
</body></html>
